@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
.form-horizontal > div.form-group > label.col-xs-2 {
    margin-top: 6px;
}

small.unit {
    color: gray;
    font-size: 10px;
}

#fixed-header {
    top: 0;
    position: fixed;
    opacity: 0;
}
